﻿@page "/employee/info"
@using SCC_System.Controllers.Employee
@using Radzen
@using SaleModal.DB.Model
@inherits AddEmployeeBase

<PageTitle>Add Employee</PageTitle>
<span class="titleHome">បន្ថែមបុគ្គលិកថ្មី</span>
<RadzenTemplateForm TItem="TblEmployee" Data="Employee" Style="width:90%">
    
    <RadzenFieldset AllowCollapse="false" class="mb-3 titleBtn">
        <div class="row mt-0 ">
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <RadzenLabel Text="គោត្តនាម"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class=" col-md-7 col-sm-12">
                        <RadzenTextBox Style="width:100%" Placeholder="គោត្តនាម..." Name="FnameKh" @bind-Value="Employee.FnameKh" />
                        <RadzenRequiredValidator Component="FnameKh" Text="សូមបំពេញគោត្តនាម !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class=" col-md-5 col-sm-12">
                        <RadzenLabel Text="នាម"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="  col-md-7 col-sm-12">
                        <RadzenTextBox Style="width:100%" Placeholder="នាម..." Name="LnameKh" @bind-Value="Employee.LnameKh" />
                        <RadzenRequiredValidator Component="LnameKh" Text="សូមបំពេញនាម !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <RadzenLabel Text="គោត្តនាម-នាម ឡាតាំង"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <RadzenTextBox Style="width:100%" Placeholder="គោត្តនាម-នាម ឡាតាំង..." Name="FullNameEn" @bind-Value="Employee.FullNameEn" />
                        <RadzenRequiredValidator Component="FullNameEn" Text="សូមបំពេញឡាតាំង !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

          <div class="row mt-3">
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <RadzenLabel Text="ថ្ងៃខែឆ្នាំកំណើត"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <RadzenDatePicker @bind-Value="Employee.Dob" DateFormat="dd-MM-yyyy" Name="Dob" Style="width:100%" />
                        <RadzenRequiredValidator Component="Dob" Text="សូមជ្រើសរើសថ្ងៃខែឆ្នាំកំណើត !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

         <div class="row mt-3">
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <RadzenLabel Text="ភេទ"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-sm-12 col-md-7">
                         <RadzenTextBox Style="width:100%" Placeholder="ភេទ..." Name="Gender" @bind-Value="Employee.Gender" />
                        <RadzenRequiredValidator Component="Gender" Text="សូមបំពេញភេទ !!!" Popup="false"></RadzenRequiredValidator>
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <RadzenLabel Text="តួនាទី"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <RadzenTextBox Style="width:100%" Placeholder="តួនាទី..." Name="Position" @bind-Value="Employee.Position" />
                        <RadzenRequiredValidator Component="Position" Text="សូមបំពេញតួនាទី !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

          <div class="row mt-3">
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <RadzenLabel Text="ថ្ងៃខែឆ្នាំចូលបម្រើការងារ"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <RadzenDatePicker @bind-Value="Employee.Hiredate" DateFormat="dd-MM-yyyy" Name="Hiredate" Style="width:100%" />
                        <RadzenRequiredValidator Component="Hiredate" Text="សូមជ្រើសរើសថ្ងៃខែឆ្នាំចូលបម្រើការងារ !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

         <div class="row mt-3">
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <RadzenLabel Text="ប្រាក់បៀវត្ស៍"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <RadzenNumeric Style="width:100%" Placeholder="ប្រាក់បៀវត្ស៍..." Name="Salary" @bind-Value="Employee.Salary" />
                        <RadzenRequiredValidator Component="Salary" Text="សូមបំពេញប្រាក់បៀវត្ស៍ !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

          <div class="row mt-3">
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <RadzenLabel Text="លេខទូរស័ព្ទ"></RadzenLabel>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <RadzenTextBox Style="width:100%" Placeholder="លេខទូរស័ព្ទ..." Name="Contact" @bind-Value="Employee.Contact" />
                        @*<RadzenRequiredValidator Component="Contact" Text="សូមបំពេញលេខទូរស័ព្ទ !!!" Popup="false"></RadzenRequiredValidator>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <RadzenLabel Text="អសយដ្ឋាន"></RadzenLabel>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <RadzenTextArea Style="width:100%" Placeholder="អសយដ្ឋាន..." Name="Address" @bind-Value="Employee.Address" />
                        @*<RadzenRequiredValidator Component="Address" Text="សូមបំពេញអសយដ្ឋាន !!!" Popup="false"></RadzenRequiredValidator>*@
                    </div>
                </div>
            </div>
        </div>
    </RadzenFieldset>

    <div class="mb-3 titleBtn">
        <div class="row">
            <div class="col-12">
                <RadzenButton Text="រក្សាទុក" Icon="save" ButtonStyle="ButtonStyle.Primary" Click="CreateEmployee" ButtonType="ButtonType.Submit"  />
                <RadzenButton Text="ចាកចេញ" Click="onBtnExitAddEmp" Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger"/>
            </div>
        </div>
    </div>

</RadzenTemplateForm>

