﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
/*custom style for lable and text input on web*/
/*.lable {
    padding: 12px 0;
    display: inline-block;
}*/

/*===========================================================*/

/*for saleReport*/
@media print {
    #hidesale, #menuHead, #start, #end, #btn {
        display: none;
    }
}


html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/*custom*/
@font-face {
    font-family: 'Content-Regular';
    src: url(../fonts/Content-Regular.ttf);
}
.swal2-content, .swal2-title {
    font-family: Content-Regular;
}
.swal2-confirm {
    background-color: #479cc8 !important;
    color: #ffffff;
    margin: 2px;
    font-family: Content-Regular;
}
.swal2-popup .swal2-styled.swal2-cancel {
    background-color: #f9777f !important;
    color: white !important;
    font-weight: 700;
    border: 1px solid #e8e8e8;
    font-family: Content-Regular;
}

@font-face {
    font-family: 'Chenla-Regular';
    src: url(../fonts/Chenla-Regular.ttf);
}

@font-face {
    font-family: 'KdamThmor-Regular';
    src: url(../fonts/KdamThmor-Regular.ttf);
}

@font-face {
    font-family: 'Angkor-Regular';
    src: url(../fonts/Angkor-Regular.ttf);
}

.sidebar[b-p3oeyn33nu] {
    background-image: linear-gradient( 180deg, #007bff 3.5rem, #f8f9fa 0%) !important;
}


*, ::after, ::before {
    box-sizing: border-box;
}

style attribute {
    width: 100%;
    font-family: 'Content-Regular';
    font-size: 15px;
}


ul.rz-profile-menu {
    background-color: rgb(0 0 0 / 1%) !important;
    border-left: 0px solid rgb(0 0 0 / 1%) !important;
}


.rz-sidebar {
    border-right: 1px solid #eaeef0;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 250px;
    height: 100%;
    margin-top: 3px;
}

.header {
    background-color: #479cc8 !important;
    min-height: 3.125rem;
    border-bottom: 1px solid #eaeef0;
    color: #212529;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*ul.rz-profile-menu .rz-navigation-item-icon-children {
    color: #e0dada !important;
}

ul.rz-profile-menu .rz-navigation-menu .rz-navigation-item-wrapper:hover {
    background-color: #479cc8 !important;
    color: #ffffff;
}*/

.rz-button.btn-primary, .btn-primary.rz-paginator-element {
    background-color: #479cc8 !important;
    color: #ffffff;
    margin: 2px;
    font-family: Content-Regular;
}
.rz-button.btn-danger {
    background-color: #f9777f !important;
    color: #ffffff;
    margin: 2px;
    font-family: Content-Regular;
}

.titleSideBar {
    color: white;
    font-size: 12pt !important;
    font-family: 'Content-Regular' !important;
}

.titleHome {
    color: black;
    font-size: 12pt !important;
    font-family: Content-Regular !important;
    font-weight: bold;
    padding: 10px 15px;
}

.titleBtn {
    font-size: 10pt !important;
    font-family: Content-Regular !important;
}


.titleText {
    font-size: 10pt !important;
    font-family: Content-Regular !important;
}

.rz-button-md, .rz-date-filter-buttons .rz-button, .rz-date-filter-buttons .rz-paginator-element, .rz-fileupload-choose, .rz-selectbutton .rz-button, .rz-selectbutton .rz-paginator-element, .rz-splitbutton-menubutton, .rz-splitbutton .rz-button-text-icon-left, .rz-splitbutton .rz-button-text-only {
    font-size: 0.8rem !important;
    font-weight: normal;
    padding: 0 2rem;
    height: 2.1875rem;
}

body:not(.rz-default-scrollbars) ::-webkit-scrollbar-thumb {
    background: #479cc8 !important;
    border: 4px solid #f8f9fa !important;
    background-clip: padding-box;
    border-radius: 8px;
}

.rz-paginator-last, .rz-paginator-next {
    background-color: #479cc8;
    color: #ffffff;
}

.rz-paginator-page.rz-state-active {
    background-color: #ffffff;
    color: #479cc8 !important;
    border: 1px solid #e6ecef;
    padding: 0.25rem 0.625rem;
}


.rz-dropdown-item:hover, .rz-menuitem:hover, .rz-autocomplete-list-item:hover, .rz-multiselect-item:hover, .rz-dropdown-items li:hover, .rz-autocomplete-items li:hover, .rz-multiselect-items li:hover {
    background-color: #479cc8 !important;
    color: #ffffff;
    border-radius: 0;
}

.rz-dropdown-item.rz-state-highlight, .rz-state-highlight.rz-menuitem, .rz-state-highlight.rz-autocomplete-list-item, .rz-state-highlight.rz-multiselect-item, .rz-dropdown-items li.rz-state-highlight, .rz-autocomplete-items li.rz-state-highlight, .rz-multiselect-items li.rz-state-highlight {
    background-color: #479cc8 !important;
    color: #ffffff;
    -webkit-box-shadow: 0 8px 10px 0 rgb(0 0 0 / 1%);
    box-shadow: 0 8px 10px 0 rgb(0 0 0 / 1%);
    border-radius: 0;
}

.rz-dropdown-panel {
    font-family: Content-Regular
}
.titleTextColor {
    color: rgb(0 0 0 / 100) !important
}

.rz-tabview-nav li a {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    color: black !important;
    padding: 0.375rem 1.875rem;
    font-size: inherit;
    font-weight: normal !important;
}

.rz-tabview-nav .rz-tabview-selected a {
    color: #479cc8 !important;
}

.rz-tabview-nav li:hover:not(.rz-tabview-selected):not(.rz-state-disabled) a {
    color: #479cc8 !important;
}

.rz-tabview-nav .rz-tabview-selected {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
    margin-bottom: -1px;
    position: relative;
    border-top-color: #479cc8 !important;
}

.rz-tabview-nav li:hover:not(.rz-tabview-selected):not(.rz-state-disabled) {
    background-color: #ffffff;
    border-top-color: #479cc8 !important;
}

.rz-calendar:not(.rz-state-disabled):hover .rz-datepicker-trigger {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #479cc8 !important;
}

::placeholder {
    color: lightgray;
    opacity: 0.5;
}

.rz-growl-message-success .rz-growl-item {
    background-color: #479cc8 !important;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%) !important;
    transition: 0.3s !important;
}

.rz-growl-message-info .rz-growl-item {
    background-color: #479cc8 !important;
}

.valid.modified:not([type=checkbox]) {
    outline: 0px solid rgb(0 0 0 / 3%) !important;
}

.rz-navigation-item-wrapper, .rz-navigation-item-link, .rz-navigation-item-text {
    cursor: pointer !important;
}

.rz-menu:not(.rz-profile-menu) {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%) !important;
    border-radius: 5px;
}

.rz-dialog-titlebar {
    background-color: #479cc8 !important;
}

.rz-dialog-titlebar-close .rzi-times {
    color: #f5f8f9 !important;
}

.rz-dialog-title {
    font-weight: normal;
    letter-spacing: normal;
    color: white !important;
}

.rz-dialog {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%) !important;
}

.rz-growl-title {
    font-family: 'Content-Regular' !important;
}

.rz-growl-item p {
    font-family: 'Content-Regular' !important;
}

.rz-datatable-thead th, .rz-grid-table thead th {
    background-color: #f4f5f9 !important;
}

.rz-datatable-odd > td {
    background-color: #f4f5f9 !important;
}

.rz-selectable .rz-datatable-even.rz-state-highlight > td, .rz-selectable .rz-datatable-odd.rz-state-highlight > td {
    background-color: #479cc8 !important;
}

.sidebar-toggle {
    background-color: #479cc8 !important;
    color: #f8f9fa !important;
}

/*.rz-multiselect, .rz-dropdown {
    display: block !important;
}*/

.rz-datepicker-title {
    height: 45px !important;
    text-align: center;
}

.rz-button-sm, .rz-paginator-element, .rz-fileupload .rz-button, .rz-fileupload .rz-paginator-element {
    height: unset;
}


ul.rz-profile-menu .rz-navigation-menu {
    -webkit-box-shadow: 0 10px 8px 0 rgb(58 71 77 / 6%) !important;
    box-shadow: 0 10px 8px 0 rgb(0 0 0 / 15%) !important;
    margin-top: 10px;
}

.loader {
    margin: 0px auto;
    font-size: 5px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load5 {
    0%, 100% {
        box-shadow: 0em -2.6em 0em 0em #1ba8ee, 1.8em -1.8em 0 0em rgba(27,168,238, 0.2), 2.5em 0em 0 0em rgba(27,168,238, 0.2), 1.75em 1.75em 0 0em rgba(27,168,238, 0.2), 0em 2.5em 0 0em rgba(27,168,238, 0.2), -1.8em 1.8em 0 0em rgba(27,168,238, 0.2), -2.6em 0em 0 0em rgba(27,168,238, 0.5), -1.8em -1.8em 0 0em rgba(27,168,238, 0.7);
    }

    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(27,168,238, 0.7), 1.8em -1.8em 0 0em #1ba8ee, 2.5em 0em 0 0em rgba(27,168,238, 0.2), 1.75em 1.75em 0 0em rgba(27,168,238, 0.2), 0em 2.5em 0 0em rgba(27,168,238, 0.2), -1.8em 1.8em 0 0em rgba(27,168,238, 0.2), -2.6em 0em 0 0em rgba(27,168,238, 0.2), -1.8em -1.8em 0 0em rgba(27,168,238, 0.5);
    }

    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(27,168,238, 0.5), 1.8em -1.8em 0 0em rgba(27,168,238, 0.7), 2.5em 0em 0 0em #1ba8ee, 1.75em 1.75em 0 0em rgba(27,168,238, 0.2), 0em 2.5em 0 0em rgba(27,168,238, 0.2), -1.8em 1.8em 0 0em rgba(27,168,238, 0.2), -2.6em 0em 0 0em rgba(27,168,238, 0.2), -1.8em -1.8em 0 0em rgba(27,168,238, 0.2);
    }

    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(27,168,238, 0.2), 1.8em -1.8em 0 0em rgba(27,168,238, 0.5), 2.5em 0em 0 0em rgba(27,168,238, 0.7), 1.75em 1.75em 0 0em #1ba8ee, 0em 2.5em 0 0em rgba(27,168,238, 0.2), -1.8em 1.8em 0 0em rgba(27,168,238, 0.2), -2.6em 0em 0 0em rgba(27,168,238, 0.2), -1.8em -1.8em 0 0em rgba(27,168,238, 0.2);
    }

    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(27,168,238, 0.2), 1.8em -1.8em 0 0em rgba(27,168,238, 0.2), 2.5em 0em 0 0em rgba(27,168,238, 0.5), 1.75em 1.75em 0 0em rgba(27,168,238, 0.7), 0em 2.5em 0 0em #1ba8ee, -1.8em 1.8em 0 0em rgba(27,168,238, 0.2), -2.6em 0em 0 0em rgba(27,168,238, 0.2), -1.8em -1.8em 0 0em rgba(27,168,238, 0.2);
    }

    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(27,168,238, 0.2), 1.8em -1.8em 0 0em rgba(27,168,238, 0.2), 2.5em 0em 0 0em rgba(27,168,238, 0.2), 1.75em 1.75em 0 0em rgba(27,168,238, 0.5), 0em 2.5em 0 0em rgba(27,168,238, 0.7), -1.8em 1.8em 0 0em #1ba8ee, -2.6em 0em 0 0em rgba(27,168,238, 0.2), -1.8em -1.8em 0 0em rgba(27,168,238, 0.2);
    }

    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(27,168,238, 0.2), 1.8em -1.8em 0 0em rgba(27,168,238, 0.2), 2.5em 0em 0 0em rgba(27,168,238, 0.2), 1.75em 1.75em 0 0em rgba(27,168,238, 0.2), 0em 2.5em 0 0em rgba(27,168,238, 0.5), -1.8em 1.8em 0 0em rgba(27,168,238, 0.7), -2.6em 0em 0 0em #1ba8ee, -1.8em -1.8em 0 0em rgba(27,168,238, 0.2);
    }

    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(27,168,238, 0.2), 1.8em -1.8em 0 0em rgba(27,168,238, 0.2), 2.5em 0em 0 0em rgba(27,168,238, 0.2), 1.75em 1.75em 0 0em rgba(27,168,238, 0.2), 0em 2.5em 0 0em rgba(27,168,238, 0.2), -1.8em 1.8em 0 0em rgba(27,168,238, 0.5), -2.6em 0em 0 0em rgba(27,168,238, 0.7), -1.8em -1.8em 0 0em #1ba8ee;
    }
}

@keyframes load5 {
    0%, 100% {
        box-shadow: 0em -2.6em 0em 0em #1ba8ee, 1.8em -1.8em 0 0em rgba(27,168,238, 0.2), 2.5em 0em 0 0em rgba(27,168,238, 0.2), 1.75em 1.75em 0 0em rgba(27,168,238, 0.2), 0em 2.5em 0 0em rgba(27,168,238, 0.2), -1.8em 1.8em 0 0em rgba(27,168,238, 0.2), -2.6em 0em 0 0em rgba(27,168,238, 0.5), -1.8em -1.8em 0 0em rgba(27,168,238, 0.7);
    }

    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(27,168,238, 0.7), 1.8em -1.8em 0 0em #1ba8ee, 2.5em 0em 0 0em rgba(27,168,238, 0.2), 1.75em 1.75em 0 0em rgba(27,168,238, 0.2), 0em 2.5em 0 0em rgba(27,168,238, 0.2), -1.8em 1.8em 0 0em rgba(27,168,238, 0.2), -2.6em 0em 0 0em rgba(27,168,238, 0.2), -1.8em -1.8em 0 0em rgba(27,168,238, 0.5);
    }

    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(27,168,238, 0.5), 1.8em -1.8em 0 0em rgba(27,168,238, 0.7), 2.5em 0em 0 0em #1ba8ee, 1.75em 1.75em 0 0em rgba(27,168,238, 0.2), 0em 2.5em 0 0em rgba(27,168,238, 0.2), -1.8em 1.8em 0 0em rgba(27,168,238, 0.2), -2.6em 0em 0 0em rgba(27,168,238, 0.2), -1.8em -1.8em 0 0em rgba(27,168,238, 0.2);
    }

    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(27,168,238, 0.2), 1.8em -1.8em 0 0em rgba(27,168,238, 0.5), 2.5em 0em 0 0em rgba(27,168,238, 0.7), 1.75em 1.75em 0 0em #1ba8ee, 0em 2.5em 0 0em rgba(27,168,238, 0.2), -1.8em 1.8em 0 0em rgba(27,168,238, 0.2), -2.6em 0em 0 0em rgba(27,168,238, 0.2), -1.8em -1.8em 0 0em rgba(27,168,238, 0.2);
    }

    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(27,168,238, 0.2), 1.8em -1.8em 0 0em rgba(27,168,238, 0.2), 2.5em 0em 0 0em rgba(27,168,238, 0.5), 1.75em 1.75em 0 0em rgba(27,168,238, 0.7), 0em 2.5em 0 0em #1ba8ee, -1.8em 1.8em 0 0em rgba(27,168,238, 0.2), -2.6em 0em 0 0em rgba(27,168,238, 0.2), -1.8em -1.8em 0 0em rgba(27,168,238, 0.2);
    }

    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(27,168,238, 0.2), 1.8em -1.8em 0 0em rgba(27,168,238, 0.2), 2.5em 0em 0 0em rgba(27,168,238, 0.2), 1.75em 1.75em 0 0em rgba(27,168,238, 0.5), 0em 2.5em 0 0em rgba(27,168,238, 0.7), -1.8em 1.8em 0 0em #1ba8ee, -2.6em 0em 0 0em rgba(27,168,238, 0.2), -1.8em -1.8em 0 0em rgba(27,168,238, 0.2);
    }

    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(27,168,238, 0.2), 1.8em -1.8em 0 0em rgba(27,168,238, 0.2), 2.5em 0em 0 0em rgba(27,168,238, 0.2), 1.75em 1.75em 0 0em rgba(27,168,238, 0.2), 0em 2.5em 0 0em rgba(27,168,238, 0.5), -1.8em 1.8em 0 0em rgba(27,168,238, 0.7), -2.6em 0em 0 0em #1ba8ee, -1.8em -1.8em 0 0em rgba(27,168,238, 0.2);
    }

    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(27,168,238, 0.2), 1.8em -1.8em 0 0em rgba(27,168,238, 0.2), 2.5em 0em 0 0em rgba(27,168,238, 0.2), 1.75em 1.75em 0 0em rgba(27,168,238, 0.2), 0em 2.5em 0 0em rgba(27,168,238, 0.2), -1.8em 1.8em 0 0em rgba(27,168,238, 0.5), -2.6em 0em 0 0em rgba(27,168,238, 0.7), -1.8em -1.8em 0 0em #1ba8ee;
    }
}

.rz-dialog-title {
    font-family: 'Content-Regular' !important;
    font-size: 11pt !important;
}


page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

    page[size="A4"] {
        width: 21cm;
        height: 29.7cm;
    }

.rz-fieldset-legend {
    margin: 0 0 0 1rem;
    width: auto;
    color: #88989b;
    font-size: 12pt !important;
    padding: 0 1rem;
}

