﻿@page "/exchangerate"
@attribute [Authorize]
@using SCC_System.Controllers.ExchangeRate
@using SaleModal.DB.Model
@using Radzen
@inherits ExchangeRateBase

<PageTitle>Exhcnage Rate</PageTitle>
<span class="titleHome">អត្រាប្ដូរប្រាក់</span>

<RadzenCard class="col-md-8 col-sm-12">
    <div class="col-12 d-flex flex-row titleBtn justify-content-end  ">
            <RadzenButton Text="បន្ថែមថ្មី" Icon="currency_exchange" ButtonStyle="ButtonStyle.Primary" Click="onNew" />
            <RadzenButton Text="បញ្ចុះតម្លៃ" Icon="discount" ButtonStyle="ButtonStyle.Success" Click="ToDiscount"/>
            <RadzenButton Text="កំណត់ឡើងវិញ" Icon="refresh" ButtonStyle="ButtonStyle.Info" Click="OnRefresh" />
     </div>
            <div class="table-responsive">
                <table class="table titleBtn table table-hover">
                    <thead>
                        <tr>
                            <th>កូដ</th>
                            <th>លេខកូដរូបិយប័ណ្ណ</th>
                            <th>សញ្ញារូបិយប័ណ្ណ</th>
                            <th>អត្រា</th>
                            <th>ប្ដូរថ្ងៃខែឆ្នាំ</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (lsexchangRate == null)
                        {
                            <p>Data is loading..</p>
                        }
                        else
                        {
                            foreach (var item in lsexchangRate)
                            {
                                <tr>
                                    @*<td>@item.CurrencyId</td>*@
                                    <td>@(lsexchangRate.IndexOf(item) + 1)</td>
                                    <td>@item.CurrencyCode</td>
                                    <td>@item.CurrencySymbol</td>
                                    <td>@item.Rate</td>
                                    <td>@item.ExchangeDate.Value.ToShortDateString()</td>

                                    <td style="width:10%">
                                        <a href="/exchangerate/@item.CurrencyId" class="btn btn-warning btn-sm mr-2"><i class="fas fa-edit" /></a>
                                         <button class="btn btn-danger btn-sm" @onclick="()=>DeleteExchangeRate(item.CurrencyId)"><i class="fa fa-trash" /></button>
                                    </td>
                                </tr>

                            }
                        }

                    </tbody>
                </table>
            </div>
    
</RadzenCard>