﻿@page "/index"

<div class="row">
        <div class="col-5">
            <RadzenCard class="mt-6">
            <RadzenImage  Path="image/cafe.jpg" />
            <h4 style="text-align:center; font-family: 'Content-Regular' ">cafe on sale</h4>
            
            </RadzenCard>  
                
        </div>
        <div class="col-5" >
            <RadzenCard class="mt-5">
             <RadzenImage Path="image/ccare.png" />
            <h4 style="text-align:center; font-family: 'Content-Regular' ">car care</h4>
            </RadzenCard>
        </div>
</div>

@code{
    public void OnClick(string name){}
}
