﻿@page "/EditProduct/{productId}"
@using SCC_System.Controllers.Product
@using Radzen
@using SCC_System.Pages.Product
@using SaleModal.DB.Model
@inherits EditProductBase

<PageTitle>Edit Products</PageTitle>
<span class="titleHome">កែប្រែទំនិញ</span>
@if (Product != null)
{
    <RadzenCard class="col-12">
        <RadzenFieldset AllowCollapse="false" class="mb-3 titleBtn">
            <div class="row mt-0 ">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="ឈ្មោះទំនិញ"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenTextBox Style="width:100%" Placeholder="ឈ្មោះទំនិញ..." Name="ProductNameKh" @bind-Value="Product.ProductNameKh" />
                            <RadzenRequiredValidator Component="ProductNameKh" Text="សូមបំពេញឈ្មោះទំនិញ !!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 ">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="ឈ្មោះឡាតាំង"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenTextBox Style="width:100%" Placeholder="ឈ្មោះឡាតាំង..." Name="ProductNameEn" @bind-Value="Product.ProductNameEn" />
                            <RadzenRequiredValidator Component="ProductNameEn" Text="សូមបំពេញឈ្មោះឡាតាំង !!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 ">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="ប្រភេទទំនិញ"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenDropDown Data="@Categories"
                                        Style="width:100%"
                                        ValueProperty="CateId"
                                        TextProperty="CategoryNameEn"
                                        @bind-Value="Product.CateId" />
                            <RadzenRequiredValidator Component="CategoryNameEn" Text="សូមបំពេញប្រភេទទំនិញ !!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2 ">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="តម្លៃរាយ"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenNumeric Style="width:100%" Placeholder="ឈ្មោះទំនិញរាយ..." Name="Price" @bind-Value="Product.Price" />
                            <RadzenRequiredValidator Component="Price" Text="សូមបំពេញឈ្មោះទំនិញរាយ !!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            </div>

        @*      <div class="row mt-3 ">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="សាយ"></RadzenLabel>
                            @*<span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenTextBox Style="width:100%" Placeholder="size s,m,l..." Name="Size" @bind-Value="Product.Size" />
                            <RadzenRequiredValidator Component="Size" Text="សូមបំពេញសាយ !!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            </div>*@

            <div class="row mt-3 ">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="រូបភាព"></RadzenLabel>
                            @*<span style="color:red">*</span>*@
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <InputFile OnChange="UploadImg" />
                            @* <img src="@Product.Url" />*@
                            @*<RadzenTextBox Style="width:100%" Placeholder="រូបភាព..." Name="Url" @bind-Value="Product.Url" />
                        <RadzenRequiredValidator Component="Url" Text="សូមបំពេញរូបភាព !!!" Popup="false"></RadzenRequiredValidator>*@
                        </div>
                    </div>
                </div>
            </div>

        </RadzenFieldset>
        <div class="mb-3 titleBtn">
            <div class="row">
                <div class="col-12">
                    <RadzenButton Text="កែប្រែ" Icon="save" Click="SaveProduct" ButtonType="ButtonType.Submit" />
                    <RadzenButton Text="ចាកចេញ" Click="onBtnExitProd" Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger" />
                </div>
            </div>
        </div>

    </RadzenCard>

}
else
{
    <p>Loading...</p>
}



