﻿@page "/newstock"
@using Radzen
@using SCC_System.Controllers.Stock
@using SaleModal.DB.Model
@inherits StockBase

<PageTitle>Add New Stock</PageTitle>
<RadzenCard class="col-12">
    <span class="titleHome">បន្ថែមទំនិញថ្មី</span>
      <RadzenTemplateForm TItem="TblStock" Data="stock" class="col-12 col-sm-12">
          <RadzenFieldset AllowCollapse="false" class="mb-2 titleBtn">
            <div class="row">
                <div class="col-md-8 col-sm-12 ">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="ឈ្មោះទំនិញ"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenTextBox Style="width:100%; cursor:pointer" Placeholder="ឈ្មោះទំនិញ..." Name="ProNameKh" @bind-Value="stock.ProNameKh" />
                            <RadzenRequiredValidator Component="ProNameKh" Text="សូមបំពេញទំនិញ !!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            </div>

                <div class="row mt-3 ">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="ឈ្មោះ​ទំនិញអង់គ្លេស"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenTextBox Style="width:100%" Placeholder="ទំនិញអង់គ្លេស..." Name="ProNameEn" @bind-Value="stock.ProNameEn" />
                            <RadzenRequiredValidator Component="ProNameEn" Text="ទំនិញអង់គ្លេស!!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 ">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="ចំនួន"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenNumeric Style="width:100%" Placeholder="ចំនួន..." Name="Qty" @bind-Value="stock.Qty" />
                            <RadzenRequiredValidator Component="Qty" Text="ចំនួន!!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            </div>

             <div class="row mt-3 ">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="ឯកតា"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenTextBox Style="width:100%" Placeholder="ឯកតា ex: kg" Name="Unit" @bind-Value="stock.Unit" />
                            <RadzenRequiredValidator Component="Unit" Text="ឯកតា ex: kg!!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            </div>

             <div class="row mt-3 ">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="តម្លៃរាយ"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenNumeric Style="width:100%" Placeholder="តម្លៃ/ឯកតា" Name="Price" @bind-Value="stock.Price" />
                            <RadzenRequiredValidator Component="Price" Text="តម្លៃ/ឯកតា!!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            </div>

              <div class="row mt-3 ">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="តម្លៃសរុប"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenNumeric Style="width:100%" Placeholder="តម្លៃសរុប" Name="Amount" @bind-Value="stock.Amount" />
                            <RadzenRequiredValidator Component="Amount" Text="តម្លៃសរុប!!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <RadzenLabel Text="ថ្ងៃខែទិញទំនិញចូល"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <RadzenDatePicker @bind-Value="stock.ImportDate" DateFormat="dd-MM-yyyy" Name="ImportDate" Style="width:100%" />
                            <RadzenRequiredValidator Component="ImportDate" Text="ទំនិញចូល !!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            </div>

           </RadzenFieldset>
              <div class="mb-3 titleBtn">
            <div class="row">
                <div class="col-12">
                    <RadzenButton Text="រក្សាទុក" Icon="save" Click="AddNewStock" ButtonType="ButtonType.Submit" />
                    <RadzenButton Text="ចាកចេញ" Click="ExitNewStock" Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger" />
                </div>
            </div>
        </div>
      </RadzenTemplateForm>
</RadzenCard>