﻿@page "/outstock"
@using Radzen
@using SCC_System.Controllers.Stock
@using SaleModal.DB.Model
@inherits StockBase

<PageTitle>Add New Stock</PageTitle>
<RadzenCard class="col-12">
    <span class="titleHome">ទំនិញចេញ</span>
      <RadzenTemplateForm TItem="TblStockOut" Data="stockout" class="col-12 col-sm-12">
          <RadzenFieldset AllowCollapse="false" class="mb-2 titleBtn">
            <div class="row">
                        <div class="row mt-3 ">
                    <div class="col-md-8 col-sm-12">
                        <div class="row">
                            <div class="col-md-5 col-sm-12">
                                <RadzenLabel Text="ទំនិញ"></RadzenLabel>
                                <span style="color:red">*</span>
                            </div>
                            <div class="col-md-7 col-sm-12">
                                 <RadzenDropDown Data="@lstStock" 
                                     AllowFiltering="true" Style="width:100%"
                                     ValueProperty="StId" 
                                     TextProperty="ProNameKh" @bind-Value="stockout.Stid" />
                                 <RadzenRequiredValidator Text="សូមជ្រើសរើសទំនិញ !!!" Popup="false"></RadzenRequiredValidator>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 ">
                    <div class="col-md-8 col-sm-12">
                        <div class="row">
                            <div class="col-md-5 col-sm-12">
                                <RadzenLabel Text="អ្នកទទួលទំនិញ"></RadzenLabel>
                                <span style="color:red">*</span>
                            </div>
                            <div class="col-md-7 col-sm-12">
                                <RadzenTextBox Style="width:100%" Placeholder="អ្នកទទួលទំនិញ" Name="Customer" @bind-Value="stockout.Customer" />
                                <RadzenRequiredValidator Component="Customer" Text="អ្នកទទួលទំនិញ" Popup="false"></RadzenRequiredValidator>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 ">
                    <div class="col-md-8 col-sm-12">
                        <div class="row">
                            <div class="col-md-5 col-sm-12">
                                <RadzenLabel Text="ចំនួន"></RadzenLabel>
                                <span style="color:red">*</span>
                            </div>
                            <div class="col-md-7 col-sm-12">
                                @*<input type="text" class="form-control" value="@qty" @onchange="TotalStock" />*@
                                <RadzenNumeric Style="width:100%" Placeholder="ចំនួន" Name="Qty" @bind-Value="stockout.Qty"/>
                                <RadzenRequiredValidator Component="Qty" Text="ចំនួន!!!" Popup="false"></RadzenRequiredValidator>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 ">
                    <div class="col-md-8 col-sm-12">
                        <div class="row">
                            <div class="col-md-5 col-sm-12">
                                <RadzenLabel Text="ឯកតា"></RadzenLabel>
                                <span style="color:red">*</span>
                            </div>
                            <div class="col-md-7 col-sm-12">
                                <RadzenTextBox Style="width:100%" Placeholder="ឯកតា ex: kg" Name="Unit" @bind-Value="stockout.Unit" />
                                <RadzenRequiredValidator Component="Unit" Text="ឯកតា ex: kg!!!" Popup="false"></RadzenRequiredValidator>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row mt-3">
                    <div class="col-md-8 col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <RadzenLabel Text="ថ្ងៃខែចេញទំនិញ"></RadzenLabel>
                                <span style="color:red">*</span>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <RadzenDatePicker @bind-Value="stockout.StOutDate" DateFormat="dd-MM-yyyy" Name="StOutDate" Style="width:100%" />
                                <RadzenRequiredValidator Component="StOutDate" Text="ថ្ងៃចេញទំនិញ !!!" Popup="false"></RadzenRequiredValidator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </RadzenFieldset>
        <div class="mb-3 titleBtn">
            <div class="row">
                <div class="col-12">
                    <RadzenButton Text="រក្សាទុក" Icon="save" Click="AddOutStock" ButtonType="ButtonType.Submit" />
                    <RadzenButton Text="ចាកចេញ" Click="ExitNewStock" Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger" />
                </div>
            </div>
        </div>

    </RadzenTemplateForm>
    <div class="col-12 col-sm-12">
    <RadzenCard class="mt-2">
      <div class="table-responsive">
        <table class="table titleBtn table table-hover">
            <thead>
                <tr>
                    <th>កូដ</th>
                    <th>ឈ្មោះទំនិញខ្មែរ</th>
                    <th>ឈ្មោះទំនិញឡាតាំង</th>
                    <th>អ្នកទទួលទំនិញ</th>
                    <th>ចំនួន</th>
                    <th>ថ្ងៃទទួលទំនិញ</th>
                </tr>
            </thead>
            <tbody>
               
                    @if (lstStockOut != null)
                    {
                        foreach (var item in lstStockOut)
                        {
                        <tr>
                            <td>@(lstStockOut.IndexOf(item) + 1)</td>
                            <td>@item.ProNameKh</td>
                            <td>@item.ProNameEn</td>
                            <td>@item.Customer</td>
                            <td>@item.Qty @item.Unit</td>
                            <td>@item.StOutDate.ToString("dd/MM/yyyy")</td>
                        </tr>
                    }
                    }
                    
            </tbody>
        </table>
    </div>
</RadzenCard>
</div>

</RadzenCard>
