﻿@page "/salereport"
@using Radzen
@using SCC_System.Controllers.SaleReports
@using SaleModal.DB.Model
@using SCC_System.Pages.SaleReport
@using System;
@inherits SaleReportsBase

<PageTitle>Report</PageTitle>

<div class="col-12 col-sm-12">
    <div class=" mt-4 ">
        <div class="row">
            <div class="col-md-3 col-sm-12" id="start">
                <div class="row">
                    <div class="col-md-3 col-sm-12 pt-1">
                        <RadzenLabel Text="ចាប់ពីថ្ងៃ" />
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <RadzenDatePicker AllowClear="true" Style="width:100%"
                                          DateFormat="yyyy-MM-dd"
                                          @bind-Value="salefilter.dateFrom" Change="DateFrom_Changed" />
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12" id="end">
                <div class="row  mb-2">
                    <div class="col-md-3 col-sm-12 pt-1">
                        <RadzenLabel Text="ដល់ថ្ងៃទី" />
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <RadzenDatePicker AllowClear="true" Style="width:100%"
                                          DateFormat="yyyy-MM-dd"
                                          @bind-Value="salefilter.dateTo" Change="DateTo_Changed" />
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12" id="hidesale">
                <div class="row  mb-3">
                    <div class="col-md-3 col-sm-12 pt-1">
                        <RadzenLabel Text="អ្នកលក់" />
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <RadzenDropDown AllowClear="true" Style="width:100%"
                                        Data="@getUserReport"
                                        AllowFiltering="true"
                                        ValueProperty="UserId"
                                        TextProperty="Fullnamekh" @bind-Value="salefilter.SaleId" Change="Saler_Changed" />
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="row">
                    <div class="col-md-3 col-sm-12 mb-3">
                        <button class="btn btn-info" @onclick=@(()=>OnPrint())>បោះពុម្ព</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div id="inv" style="margin-top:10px;">
    <style>
        
        .label {
            font-family: KdamThmor-Regular;
            font-size: 19px;
            font-weight: bold;
            text-align: center;
            padding-top: 15px;
        }
        .table-th, td, tr, thead {
            border: 1px solid #eee;
        }
    </style>
    <div class="col-12 col-sm-12">
        <div class="row">
            <div class="justify-content-center ml-4 mb-1 col-md-6 col-sm-12">
                <RadzenImage Path="image/scc_logo.png" class="image-responsive" Style="width:130px;" />
            </div>
            <div class="titleHome col-md-6 col-sm-12"> <RadzenLabel Text="មជ្ឈមណ្ឌលថែទាំរថយន្តស្តារឃែរ" /></div>
        </div>

        <div class="row ">
            <div class="label col-12 ">
                <RadzenLabel Text="របាយការណ៍លក់ប្រចាំ ថ្ងៃខែឆ្នាំ" Style="font-family:'Khmer OS Muol'; font-size: 16px; " />
            </div>
        </div>

        @*==============================================================
        Report Table
        ==============================================================*@

        <div class="row">
            <div class="col-12 pt-2" style="overflow-x:auto">
                <div class="table-responsive">
                    <table class="table  table-hover">
                        <thead>
                            <tr>
                                <th style="width:20px;">ល.វិកយ</th>
                                <th>បុគ្គលិក</th>
                                <th>ឈ្មោះ</th>
                                <th>ថ្ងៃខែឆ្នាំលក់</th>
                                <th>ទំហំ</th>
                                <th>តម្លៃ/កែវ</th>
                                <th>សរុប</th>
                                 <th>ចំនួន</th>
                                <th>បញ្ចុះតម្លៃ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (salereportresult != null)
                            {
                                foreach (var item in salereportresult)
                                {
                                    <tr>
                                        <td>@item.order_id</td>
                                        <td>@item.saler</td>
                                        @*<td>@item.product_name_en</td>*@
                                        <td>@item.product_name_kh</td>
                                        <td>@item.order_date.Value.ToString("dd/MM/yyyy")</td>
                                        <td>@item.size</td>
                                        <td>៛@item.price</td>                                       
                                        <td>@(item.qty * item.price)</td>
                                         <td>@item.qty</td>
                                        <td>@((item.price*item.qty )* (100 - @item.amount) / 100)</td>
                                        @*<td>@item.sub_total</td>*@
                                        @*<td>@item.rate</td>*@
                                    </tr>

                                }
                            }
                            <tr>
                                <td colspan="7" class="text-right text-bold">សរុប</td>
                                @*<td>៛@salereportresult.Sum(f => f.price * f.qty)</td>*@
                                <td class="text-bold">@salereportresult.Sum(f => f.qty)</td>
                                @*<td colspan="2">@salereportresult.Sum(f => f.price * f.qty)</td>*@
                                <td class="text-bold">@salereportresult.Sum(f => (f.price*f.qty )* (100 -  f.amount) / 100)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        @*===============report footer==================*@
        <div class="sty-bottum">
            <p>កាលបរិច្ឆេទៈ @DateTime.Now.ToString("dd-MMM-yyyy")</p>
            <p>Prepared By: @name</p>
        </div>

    </div>

    <style>
        .sty-bottum {
            text-align: right;
            font-weight: bold;
        }
    </style>
</div>