﻿@page "/EditCategory/{categoryId}"
@attribute [Authorize]
@using SCC_System.Controllers.Category
@using SaleModal.DB.Model
@using Radzen
@inherits EditCategoryBase

<PageTitle>Edit Category</PageTitle>
<span class="titleHome">កែប្រែប្រភេទទំនិញ</span>

@if (UpCategory != null)
{
    <RadzenCard class="col-md-8 col-sm-12">
         <RadzenFieldset AllowCollapse="false" class="mb-3 titleBtn">
          <div class="row mt-0 ">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <RadzenLabel Text="ឈ្មោះឡាតាំង"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <RadzenTextBox Style="width:100%" Placeholder="ឈ្មោះឡាតាំង..." Name="CategoryNameEn" @bind-Value="UpCategory.CategoryNameEn"/>
                        <RadzenRequiredValidator Component="CategoryNameEn" Text="សូមបំពេញឈ្មោះឡាតាំង !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2 ">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <RadzenLabel Text="ឈ្មោះខ្មែរ"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <RadzenTextBox Style="width:100%" Placeholder="ឈ្មោះខ្មែរ..." Name="CategoryNameKh" @bind-Value="UpCategory.CategoryNameKh"/>
                        <RadzenRequiredValidator Component="CategoryNameKh" Text="សូមបំពេញឈ្មោះខ្មែរ !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

    </RadzenFieldset>
       <div class="mb-3 titleBtn">
        <div class="row">
            <div class="col-12">
                <RadzenButton Text="កែប្រែ" Icon="save" Click="SaveCategory" ButtonType="ButtonType.Submit" />
                <RadzenButton Text="ចាកចេញ" Click="onBtnExitCategory" Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger"/>
            </div>
        </div>
    </div>

    </RadzenCard>
}
else{
      <p>Loading...</p>
}
