﻿@page "/categorylist"
@*@attribute [Authorize]*@
@using SCC_System.Controllers.Category
@using SCC_System.Pages.Category
@using Radzen
@using SaleModal.DB.Model

@inherits ListCategoryBase

<PageTitle>List Category</PageTitle>
<span class="titleHome">ប្រភេទទំនិញ</span>


<RadzenCard class="col-12">
    <div class="col-12 d-flex flex-row titleBtn justify-content-end  mt-1">
        <RadzenButton Text="បន្ដែមថ្មី" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Click="onBtnNewCategory" class="mt-1" />
        <RadzenButton Text="កំណត់ឡើងវិញ" Icon="refresh" ButtonStyle="ButtonStyle.Info" Click="onBtnRefresh" class="mt-1" />
    </div>
    <div class="table-responsive">
        <table class="table titleBtn table table-hover">
            <thead>
                <tr>
                    <th>កូដ</th>
                    <th>ឈ្មោះឡាតាំង</th>
                    <th>ឈ្មោះខ្មែរ</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (CategoryList != null)
                {
                    foreach (var item in CategoryList)
                    {
                        <tr>
                             <td>@(CategoryList.IndexOf(item) + 1)</td>
                            @*<td>@item.CateId</td>*@
                            <td>@item.CategoryNameEn</td>
                            <td>@item.CategoryNameKh</td>

                            <td>
                                <a href="/EditCategory/@item.CateId" class="btn btn-warning btn-sm mr-2"><i class=" 	fas fa-edit" /></a>
                                <button class="btn btn-danger btn-sm" @onclick="()=>DeleteCategory(item.CateId)"><i class="fa fa-trash" /></button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <span>Loading</span>
                }

            </tbody>

        </table>
    </div>
</RadzenCard>


