﻿@page "/import/infor"
@using System.Collections.Generic
@using Radzen
@using SaleModal.DB.Model
@using SCC_System.Controllers.Import
@inherits ImportBase


<PageTitle>Import Product</PageTitle>

<RadzenCard>
    <div class="row mt-2 p-2">
        <span class="titleHome">ស្តុកទំនិញនាំចូល</span>
        <div class="col-12 d-flex flex-row titleBtn justify-content-end mb-1">
            <RadzenButton Text="បន្ដែមថ្មី" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Click="onBtnNew" class="mt-1" />
            <RadzenButton Text="កំណត់ឡើងវិញ" Icon="refresh" ButtonStyle="ButtonStyle.Info" Click="onBtnRefresh"  class="mt-1" />
        </div>

    </div>

    <div class="table-responsive">
        <table class="table titleBtn table table-hover">
            <thead>
                <tr>
                    <th>កូដ</th>
                    <th>ឈ្មោះទំនិញ</th>
                    <th>ឈ្មោះឡាតាំង</th>
                    <th>ចំនួន</th>
                    <th>ឯកតា</th>
                    <th>តម្លៃទិញចូល</th>
                    <th>ថ្ងៃខែឆ្នាំទិញចូល</th>
                    <th>ថ្ងៃខែឆ្នាំបញ្ចូល</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
               @if (listImport == null)
                {
                    @*<span>Loading.....</span>*@
                    <span>Loading.....</span>
                }
                else
                {
                    foreach (var item in listImport)
                    {
                        <tr>
                            @*<td>@item.ImpId</td>*@
                            <td>@(listImport.IndexOf(item) + 1)</td>
                            <td>@item.ProNameKh</td>
                            <td>@item.ProNameEn</td>
                            <td>@item.Qty</td>
                            <td>@item.Unit</td>
                            <td>@item.PriceImport</td>
                            <td>@item.ImpDate.Value.ToString("dd/MM/yyyy")</td>
                            <td>@item.ImpInsertDate.Value.ToString("dd/MM/yyyy")</td>

                           <td style="width:10%">
                                <a href="/import/@item.ImpId" class="btn btn-warning btn-sm mr-2"><i class=" 	fas fa-edit" /></a>
                                @*<button class="btn btn-danger btn-sm" @onclick="()=>DeleteProduct(item.ProId)"><i class="fa fa-trash" /></button>*@
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</RadzenCard>