﻿@page "/invoice"
@using Radzen
@using Radzen.Blazor
@using Pages.Product
@using SCC_System.Controllers.Sales
@inherits InvoiceBase

<button class="btn btn-info" onclick="printInvoice()">Print</button>
<div class="invoice-box" id="invoice-box">
    <style>
        .invoice-box {
            max-width: 400px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            font-size: 13px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

            .invoice-box table {
                width: 100%;
                line-height: inherit;
                text-align: left;
            }

                .invoice-box table td {
                    padding: 1px
                }

                .invoice-box table tr.top table td {
                    padding-bottom: 0px;
                    padding-top: 0px;
                }

                .invoice-box table tr.information table td {
                    padding-bottom: 0px;
                }

                .invoice-box table tr.heading td {
                    border-bottom: 1px solid #ddd;
                    font-weight: bold;
                }

                .invoice-box table tr.details td {
                    padding-bottom: 0px;
                }

        .text-tr {
            text-align: center;
        }
    </style>
    <table cellpadding="0" cellspacing="0">

        <tr class="top">
            <td colspan="2">
                <table>
                    <tr class="text-tr">
                        <td>
                            <img src="/image/scc_logo.png" class="image-responsive" style="width: 30%" /><br />
                            <span class="titleBtn">Star Care Center</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            បុគ្គលិក<br />
                            ថ្ងៃខែឆ្នាំលក់<br />
                            លេខវិក្កយបត្រ <br />
                            អត្រាប្តូរប្រាក់<br />
                        </td>
                        <td>
                            :<br />
                            :<br />
                            :<br />
                            :<br />
                        </td>
                        <td style="text-align:right">
                            @cashierName <br />
                            @DateTime.Now.ToString("HH:mm:ss")<br />
                            @OrderId<br />
                            <span>1$ = </span>@Rate<br />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="details">
            <td>
                <table class="table">
                    <tr>
                        <td style="width:150px; ">បរិយាយ</td>
                        <td style="width:50px;">ចំនួន</td>
                        <td style="width:50px;">តម្លៃ</td>
                        <td style="width:50px;">ទំហំ</td>
                        <td style="width:50px;">សរុប</td>
                        @*<td style="width:20px; ">Dis</td>*@
                    </tr>
                </table>
            </td>
        </tr>
        @if (getOrderDetail.Count > 0)
        {
            foreach (var item in getOrderDetail)
            {
                Total = item.Price.Value * item.Qty.Value;
                <tr>
                    <td>
                         <table>
                            @*<td style="width:35px; text-align:left">@(getOrderDetail.IndexOf(item) + 1)</td>*@
                            <tr>
                                <td style="width:200px; ">@item.ProNameEn</td>
                                <td style="width:50px; ">@item.Qty</td>
                                <td style="width:50px;">@item.Price.Value.ToString("0")</td>
                                <td style="width:50px;">@item.Size</td>
                                <td style="width:50px;">@Total.ToString("0")</td>
                                @*<td style="width:20px; ">@Amount.ToString("0")% </td>*@
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        }
       
        <tr class="details" style="text-align:right;font-weight:bold;">
            <td>ចំនួនសរុប: @getOrderDetail.Sum(f=>f.Qty)</td>
        </tr>
         <tr style="text-align:right; font-weight:bold;">
            <td>
                សរុបរួម = @GrandTotal
            </td>
        </tr>

        <tr class="details">
            <td style="color:gray">
                <table>
                       <tr>
                        <td style="width:88px;">បញ្ចុះតម្លៃ</td>
                        <td style="text-align:right"> @Amount %</td>
                    </tr>
                    <tr>
                        <td style="width:88px;"> សរុបចុងក្រោយ</td>
                        <td style="text-align:right"> @SubTotal</td>
                    </tr>
                     <tr>
                        <td style="width:88px;">ប្រាក់ទទួល</td>
                        <td style="text-align:right">@CashRecieve</td>
                    </tr>
                    <tr>
                        <td style="width:88px;">ប្រាក់អាប់</td>
                        <td style="text-align:right">@PayBack</td>
                    </tr>
                </table>
            </td>
        </tr>


      
        <tr class="text-tr">
            <td colspan="4">
                Thanks for buying at our shop.<br />
                Please come again!
            </td>
        </tr>
    </table>

</div>