﻿@page "/1"
@using Radzen
@using Radzen.Blazor
@using Pages.Product
@using SCC_System.Controllers.Sales
@inherits InvoiceBase

<button class="btn btn-info" onclick="printInvoice()">Print</button>
<div class="invoice-box" id="invoice-box">
    <style>
        .invoice-box {
            max-width: 400px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

            .invoice-box table {
                width: 100%;
                line-height: inherit;
                text-align: left;
            }

                .invoice-box table td {
                    padding: 1px
                }

                .invoice-box table tr.top table td {
                    padding-bottom: 0px;
                    padding-top: 0px;
                }

                .invoice-box table tr.information table td {
                    padding-bottom: 0px;
                }

                .invoice-box table tr.heading td {
                    border-bottom: 1px solid #ddd;
                    font-weight: bold;
                }

                .invoice-box table tr.details td {
                    padding-bottom: 0px;
                }

        .text-tr {
            text-align: center;
        }
    </style>
    <table cellpadding="0" cellspacing="0" border="border solid 1px;">

        <tr class="top">
            <td colspan="2">
                <table>
                    <tr class="text-tr">
                        <td>
                            <img src="/image/scc_logo.png" class="image-responsive" style="width: 30%" /><br />
                            <span class="titleBtn">Star Care Center</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            Saler<br />
                            Sale Date<br />
                            Invoice No <br />
                            Exchange Rate<br />
                        </td>
                        <td>
                            :<br />
                            :<br />
                            :<br />
                        </td>
                        <td style="text-align:right">
                            @cashierName <br />
                            @DateTime.Now<br />
                            @OrderId<br />
                            <span>1$ = </span>@Rate.ToString("00")<br />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="details">
            <td>
                <table style="border:solid 1px red;">
                    @*<td style="width:35px; text-align:left">No</td>*@
                    <td style="width:150px; ">ផលិតផល</td>
                    <td style="width:80px;">ចំនួន</td>
                    <td style="width:90px;">តម្លៃ</td>
                    <td style="width:90px;">ទំហំ</td>
                    <td style="width:90px;">សរុប</td>
                    <td style="width:20px; ">Dis</td>
                </table>
            </td>
        </tr>
        @if (getOrderDetail.Count > 0)
        {
            foreach (var item in getOrderDetail)
            {
                Total = item.Price.Value * item.Qty.Value;
                <tr class="details">
                    @*style="border-bottom:dotted; border-color:#c6c1c1"*@
                    <td>
                        <table>
                            @*<td style="width:35px; text-align:left">@(getOrderDetail.IndexOf(item) + 1)</td>*@
                           <tr>
                            <td style="width:150px; ">@item.ProNameEn</td>
                            <td style="width:80px; ">@item.Qty</td>
                            <td style="width:90px;">@item.Price</td>
                            <td >@item.Size</td>
                            <td style="width:90px;">@Total</td>
                            @*<td style="width:20px; ">@Discount</td>*@
                            <td style="width:20px; ">@Amount.ToString("0")%</td>
                           </tr>
                        </table>
                    </td>
                </tr>
               
               
                @*<tr style="text-align:right"><td>Discount: 20%</td></tr>*@
            }
        }
         <tr class="details" style="text-align:right">
                    <td>Qty Total: @getOrderDetail.Sum(f=>f.Qty)</td>
                </tr>
                 <tr style="text-align:right; font-weight:bold;">
                    <td>
                        Grand Total = @GrandTotal
                    </td>
                </tr>
        <tr>
            <td>
                <table style="border:solid 1px red;">
                    <tr>
                        <td style="width:88px;">សរុបរួម</td>
                        <td style="width:150px;">Sub-Total</td>
                        <td style="width:20px; ">($):</td>
                        <td style="text-align:right">@GrandTotal$</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="information">
            <td>
                <table style="border:solid 1px red;">
                    <tr>
                        <td​ style="width:88px;">សរុបរួម</td​>
                        <td style="width:150px;">Grand Total</td>
                        <td style="width:20px;">($):</td>
                        <td style="text-align:right">@PayBack$</td>
                    </tr>
                    <tr>
                        <td style="width:88px;">សរុបរួម</td>
                        <td style="width:150px;">Grand Total</td>
                        <td style="width:20px;">(៛):</td>
                        <td style="text-align:right">@PayBack$</td>
                    </tr>


                    @*  <tr>
                    <td>Exchange Rate:</td>
                    @if (ExchangeRate.ExchangeDate != null)
                    {
                    <td>@ExchangeRate.Rate</td>
                    }

                    </tr>*@
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td style="width:90px;">ប្រាក់ទទួល</td>
                        <td style="width:150px;">Received</td>
                        <td style="width:20px;">($):</td>
                        <td style="text-align:right">@PayBack$</td>
                    </tr>
                    <tr>
                        <td style="width:90px;">ប្រាក់ទទួល</td>
                        <td style="width:150px;">Received</td>
                        <td style="width:20px;">(៛):</td>
                        <td style="text-align:right">@PayBack$</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="text-tr">
            <td colspan="4">
                Thanks for buying at our shop.<br />
                Please come again!
            </td>
        </tr>
    </table>

</div>