﻿@page "/"

@using Radzen
@using Radzen.Blazor
@using Pages.Product
@using SCC_System.Controllers.Sales
@inherits SaleBase

<PageTitle>Sale</PageTitle>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                @foreach (var list in Categories)
                {
                    <a class="nav-item nav-link" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"
                   @onclick=@((value)=>OnClickCate(@list.CateId))>@list.CategoryNameEn</a>
                }
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid" style="font-family: 'Content-Regular'; ">

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="tab-content py-3 my-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">

                        @if (ListProduct.Count() > 0)
                        {
                            foreach (var item in ListProduct)
                            {
                            <div class="col-sm-6 col-md-4 col-lg-3 mt-2">
                                    @*<div class="card" @onclick=@((val)=> ProductClick(item)) style="cursor:pointer">*@
                                    <div class="card" style="cursor:pointer">
                                        @if (item.Url != null )
                                        {
                                            <img class="card-img-top image-responsive" src="@item.Url">
                                        }
                                        else
                                        {
                                             <img class="card-img-top image-responsive" src="/image/img-null.jpg" alt="no image">
                                        }
                                        <div class="card-block textalign-content-center">
                                            <div class="text-center" style="line-height:1;">
                                                <p class="product-name">@item.ProductNameEn</p>
                                                <p class="product-price"> @item.Price រៀល</p>
                                                <div class="btn-size">
                                                        <button class="size" @onclick=@((val) => SelectSize("S"))>S</button>
                                                        <button class="size" @onclick=@((val) => SelectSize("M"))>M</button>
                                                        <button class="size" @onclick=@((val) => SelectSize("L"))>L</button>     
                                                        <button class="btn-add" @onclick=@((val)=> ProductClick(item))><img src="/image/plus(1).png" width="20" height="20" /></button>
                                                        @*<button class="btn-add" @onclick=@((val)=> ProductClick(item))><i class="fa fa-plus"></i></button>*@
                                                 </div>
                                                  @*<button class="btn-add" @onclick=@((val)=> ProductClick(item))><i class="fa  fa-plus fa-sm"></i></button>*@
                                                  @*<button class="btn-add" @onclick=@((val)=> ProductClick(item))><img src="/image/plus(1).png" width="20" height="20" /></button>*@
                                           
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <span>Data Loading...</span>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="table-responsive" style="font-family:'Khmer OS Content'">
                <table class="table cardfooter">
                    <thead>
                        <tr>
                            <th>ល.រ</th>
                            <th>ឈ្មោះទំនិញ</th>
                            <th>តម្លៃ</th>
                            <th>ចំនួន</th>
                            <th>សរុប</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in OrderDetails)
                        {
                            Total = Convert.ToDecimal(item.Price) * Convert.ToDecimal(item.Qty);
                            <tr>
                                <td>@(OrderDetails.IndexOf(item) + 1)</td>
                                <td>@item.ProNameEn</td>
                                <td>៛@item.Price</td>
                                <td>
                                    <div>
                                         @item.Qty (
                                        <span>
                                                @item.Size
                                        </span>
                                            )
                                         <button @onclick="@(() =>OnRemove(item))"
                                                  class="btn btn-white-blue justify-content:center" style="color: red">
                                        <span style='font-size:10px;'>&#8208;</span>
                                    </button>
                                    
                                    </div>
                                   
                                </td>
                                <td>@Total</td>
                            </tr>
                        }
                        <tr>
                            <td colspan="3">SubTotal</td>
                            <th>@OrderDetails.Sum(f=>f.Qty)</th>
                            <th>@OrderDetails.Sum(f=>f.Price * f.Qty).ToString()</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            @*=================================================================
            sale table right
            =================================================================*@
            <div class="container-fluid">
                <div class="card-footer footer">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-1 text-bold"><label for="">សរុប:</label></div>
                            <div class="mb-1 text-bold"> <label for="">បញ្ចុះតម្លៃ (%)</label></div>
                            <div class="mb-1 text-bold"> <label for="">តម្លៃសរុបចុងក្រោយ:</label></div>
                            <div class="mb-1 text-bold"> <label for="">ប្រាក់ទទួល:</label></div>
                            <div class="mb-1 text-bold"> <label for="">ប្រាក់អាប់:</label></div>
                            <div class="mb-1 text-bold"> <label for="">អត្រាប្តូរប្រាក់:</label></div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-sm mb-1">
                                @*<input type="text" class="form-control" readonly value="@OrderDetails.Sum(f=>f.Price = this.size=="S"? f.Price:(this.size=="M"? f.Price+2000: f.Price + 4000) * f.Qty).ToString()">*@
                                <input type="text" class="form-control" readonly value="@OrderDetails.Sum(f=>f.Price * f.Qty).ToString()">
                                @*<input type="text" class="form-control" readonly value=" @OrderDetails.Sum(f=>f.Price * f.Qty * (ExchangeRate.Rate)).ToString()" />*@
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                @*<input type="text" class="form-control" readonly value="@Discount">*@
                               @* <RadzenDropDown Data="@listDisc"
                                            AllowFiltering="true"
                                            Style="width:100%"
                                            ValueProperty="DisId"
                                            TextProperty="Amount" @bind-Value="OrderDetails." />*@
                                @if (listDisc.Count > 0)
                                {
                                    foreach (var item in listDisc)
                                    {
                                        if (item.Amount >= 0 && item.Status == true)
                                        {
                                             Disid = item.DisId;
                                        <input type="text" class="form-control" readonly value="@item.Amount">
                                        }
                                    }
                                }
                            
                            </div>

                            <div class="input-group input-group-sm mb-1">
                                <input type="text" class="form-control" readonly value="@SubTotal" />
                            </div>

                            <div class="input-group input-group-sm mb-1">
                                <input type="text" class="form-control" value="@CashRecieve" @onchange="CashRecieveChange" />
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <input type="text" class="form-control" readonly value="@PayBack">
                            </div>

                            <div class="input-group input-group-sm mb-1">
                                @if (ExchangeRate.RateActive == true && ExchangeRate.ExchangeDate != null)
                                {
                                   foreach (var item in listExchangeRate)
                                        {
                                            CurrencyId = item.CurrencyId;
                                        }
                                     <input type="text" class="form-control" readonly value="@Rate">
                                }
                               @* @if (ExchangeRate.ExchangeDate != null)
                                {
                                    <input type="text" class="form-control" readonly value="@ExchangeRate.Rate">
                                }*@
                            </div>
                        </div>

                        <div class="text-center">
                            <button onclick="@OnSaveOrder" class="btn btn-sm btn-info">ទូទាត់</button>
                            <button onclick="@OnCancelOrder" class="btn btn-sm btn-danger">បោះបង់</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .size{
        border: 1px solid #ebe7e7;
        padding: 2px 10px;
        background-color: #ebe7e7;
        border-radius: 1rem;
    }
    .product-name {
        font-weight: bold;
        font-size: 13px;
    }
    .product-price {
        font-size: 12px;
    }
    .product-name, .product-price {
        margin-bottom: 5px
    }
    .btn-add {
           margin-top: 5px;
           /*padding: 5px 25px;*/
           border: 1px solid #304d81;
           /*border: 1px solid #517664;*/
            border-radius: 20rem;
    }
     .size:focus{
         background-color: lightblue;
          border: 1px solid #3f51b5;
     }
</style>

