﻿@page "/editdiscount/{discountId}"
@*@attribute [Authorize]*@
@using SCC_System.Controllers.Discount
@using SaleModal.DB.Model
@using Radzen
@inherits DiscountBase

<PageTitle>New ExchangeRate</PageTitle>
<span class="titleHome">កែប្រែប្រូម៉ូសិន</span>
@if (discount != null)
{
    <RadzenCard class="col-md-8 col-sm-12">
        <RadzenFieldset AllowCollapse="false" class="mb-3 titleBtn">
            <div class="row">
                <div class="col-md-5 col-sm-12  mt-2">
                    <RadzenLabel Text="ឯកតា"></RadzenLabel>
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-7 col-sm-12">
                     <RadzenNumeric Style="width:100%" Placeholder="ឯកតា..." Name="Amount"  @bind-Value="discount.Amount" />
                    @*<RadzenDropDown Data="@disList"
                                AllowFiltering="true"
                                Style="width:100%"
                                ValueProperty="DisId"
                                TextProperty="Amount" @bind-Value="discount.DisId" />*@
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-5 col-sm-12  mt-2">
                    <RadzenLabel Text="និមិត្តសញ្ញា"></RadzenLabel>
                    <span style="color:red">*</span>
                </div>
                <div class="col-md-7 col-sm-12">
                    <RadzenTextBox Style="width:100%" Placeholder="និមិត្តសញ្ញា..." Name="DisPercent" @bind-Value="discount.DisPercent" />
                    <RadzenRequiredValidator Component="DisPercent" Text="សូមបំពេញនិមិត្តសញ្ញា !!!" Popup="false"></RadzenRequiredValidator>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-5 col-sm-12  mt-2">
                    <RadzenLabel Text="ថ្ងៃចាប់ផ្ដើមប្រូម៉ូសិន"></RadzenLabel>
                </div>
                <div class="col-md-7 col-sm-12">
                    <RadzenDatePicker Style="width:100%" Placeholder="ថ្ងៃចាប់ផ្ដើមប្រូម៉ូសិន..." Name="DisStartDate" @bind-Value="discount.DisStartDate" />
                    <RadzenRequiredValidator Component="DisStartDate" Text="សូមជ្រើសរើសថ្ងៃប្រូម៉ូសិន !!!" Popup="false"></RadzenRequiredValidator>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-5 col-sm-12  mt-2">
                    <RadzenLabel Text="ថ្ងៃបញ្ចប់ប្រូម៉ូសិន"></RadzenLabel>
                </div>
                <div class="col-md-7 col-sm-12">
                    <RadzenDatePicker Style="width:100%" Placeholder="ថ្ងៃបញ្ចប់ប្រូម៉ូសិន..." Name="DisEndDate" @bind-Value="discount.DisEndDate" />
                    <RadzenRequiredValidator Component="DisEndDate" Text="សូមជ្រើសរើសថ្ងៃបញ្ចប់ប្រូម៉ូសិន !!!" Popup="false"></RadzenRequiredValidator>
                </div>
            </div>
        </RadzenFieldset>
        <div class="mb-3 titleBtn">
            <div class="row">
                <div class="col-12">
                    <RadzenButton Text="កែប្រែ" Icon="save" Click="SaveUpdateDis" ButtonType="ButtonType.Submit" />
                    <RadzenButton Text="ចាកចេញ" Click="onBtnExit" Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger" />
                </div>
            </div>
        </div>
    </RadzenCard>
}else{
      <p>Loading...</p>
}