﻿@page "/adduser"
@*@attribute [Authorize]*@
@using SCC_System.Controllers.User
@using SCC_System.Pages.Users
@using SaleModal.DB.Model
@using Radzen
@inherits AddUserBase

<PageTitle>Add User</PageTitle>
<span class="titleHome">បង្កើតគណនីប្រើប្រាស់</span>

<RadzenTemplateForm TItem="TblUser" Data="User" class="col-md-10 col-sm-12">
    <RadzenFieldset AllowCollapse="false" class="mb-3 titleBtn">
        <div class="row mt-0 ">
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <RadzenLabel Text="បុគ្គលិក"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <RadzenDropDown Style="width:100%"
                                        Data="@listemployee"
                                        AllowFiltering="true"
                                        ValueProperty="EmpId"
                                        TextProperty="FullNameEn" @bind-Value="User.EmpId" />
                        <RadzenRequiredValidator Text="សូមជ្រើសរើសឈ្មោះបុគ្គលិក !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <RadzenLabel Text="សិទ្ទិប្រើប្រាស់"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <RadzenDropDown Style="width:100%"
                                        Data="@Roleslists"
                                        AllowFiltering="true"
                                        ValueProperty="RoleId"
                                        TextProperty="RoleName" @bind-Value="User.RoleId" />
                        <RadzenRequiredValidator Text="សូមជ្រើសរើសសិទ្ធិប្រើប្រាស់ !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <RadzenLabel Text="ឈ្មោះគណនី"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <RadzenTextBox Style="width:100%" Placeholder="ឈ្មោះគណនី..." Name="UserName" @bind-Value="User.Username" />
                        <RadzenRequiredValidator Component="UserName" Text="សូមបំពេញឈ្មោះគណនី !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="row mt-2">
                    <div class="col-md-4 col-sm-12">
                        <RadzenLabel Text="អ៊ីម៉ែល"></RadzenLabel>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <RadzenTextBox Style="width:100%" Placeholder="អ៊ីម៉ែល..." Name="Email" @bind-Value="User.Email" />
                        <RadzenEmailValidator Text="សូមបំពេញអ៊ីម៉ែល !!!" Popup="false"></RadzenEmailValidator>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-1">
            <div class="col-md-6 col-sm-12">
                <div class="row mt-2">
                    <div class="col-md-4 col-sm-12">
                        <RadzenLabel Text="លេខសម្ងាត់"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <RadzenPassword Style="width:100%" Placeholder="លេខសម្ងាត់..." Name="PassWord" @bind-Value="User.Password" />
                        <RadzenRequiredValidator Component="PassWord" Text="សូមបំពេញលេខសម្ងាត់ !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>



            <div class="col-md-6 col-sm-12">
                <div class="row mt-2">
                    <div class="col-md-4 col-sm-12">
                        <RadzenLabel Text="ថ្ងៃខែឆ្នាំបង្កើត"></RadzenLabel>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <RadzenDatePicker Style="width:100%" Placeholder="ថ្ងៃខែឆ្នាំបង្កើត..." Name="DateCreate" DateFormat="dd/MM/yyyy" @bind-Value="User.DateCreate" />
                        @*<RadzenRequiredValidator Component="DateCreate" Text="សូមបំពេញថ្ងៃខែឆ្នាំបង្កើត !!!" Popup="false"></RadzenRequiredValidator>*@
                    </div>
                </div>
            </div>

        </div>

    </RadzenFieldset>
    <div class="mb-3 titleBtn">
        <div class="row">
            <div class="col-12">
                <RadzenButton Text="រក្សាទុក" Icon="save" ButtonStyle="ButtonStyle.Primary" Click="AddNewUser" ButtonType="ButtonType.Submit" />
                <RadzenButton Text="ចាកចេញ" Click="onBtnExitUser " Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger" />
            </div>
        </div>
    </div>

</RadzenTemplateForm>
