﻿@page "/account"
@*@attribute [Authorize]*@
@using SCC_System.Controllers.User
@using SCC_System.Pages.Users
@using SaleModal.DB.Model
@using Radzen
@inherits ListUserBase

<PageTitle>Users</PageTitle>
<span class="titleHome">គណនីប្រើប្រាស់</span>
<RadzenCard class="col-12">
        <div class="col-12 d-flex flex-row titleBtn justify-content-end   mt-1">
            <RadzenButton Text="បន្ដែមថ្មី" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Click="onBtnNewuser" class="mt-1" />
            <RadzenButton Text="កំណត់សិទ្ធិ" Icon="manage_accounts" ButtonStyle="ButtonStyle.Primary" Click="onBtnUserRole" class="mt-1" />
            <RadzenButton Text="កំណត់ឡើងវិញ" Icon="refresh" ButtonStyle="ButtonStyle.Info" Click="onBtnRefresh" class="mt-1" />
        </div>
            <div class="table-responsive">
                <table class="table titleBtn table table-hover">
                    <thead>
                        <tr>
                            <th>កូដ</th>
                            <th>ឈ្មោះប្រើប្រាស់</th>
                            <th>សិទ្ធិ</th>
                            <th>អ៊ីម៉ែល</th>
                            <th>ថ្ងៃខែបង្កើត</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (userLists != null)
                        {
                            foreach (var item in userLists)
                            {
                                <tr>
                                      <td>@(userLists.IndexOf(item) + 1)</td>
                                    @*<td>@item.UserId</td>*@
                                    <td>@item.Username</td>
                                    <td>@item.RoleName</td>
                                    <td>@item.Email</td>
                                    <td>@item.DateCreate.Value.ToShortDateString()</td>

                                    <td>
                                        <a href="/edituser/@item.UserId" class="btn btn-warning btn-sm mr-2"><i class="fas fa-edit" /></a>
                                        <button class="btn btn-danger btn-sm" @onclick="()=>DeleteUser(item.UserId)"><i class="fa fa-trash" /></button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <span>Loading</span>
                        }

                    </tbody>

                </table>
            </div>

</RadzenCard>


