﻿@page "/userRole"
@attribute [Authorize]
@using Radzen
@using SCC_System.Controllers.RolePermission
@inherits ListRolePermissionBase

<PageTitle>Role Permission</PageTitle>
<span class="titleHome">សិទ្ធិអ្នកប្រើប្រាស់</span>

<RadzenCard class="col-12">
    <div class="col-12 d-flex flex-row titleBtn justify-content-end   mt-1">
        <RadzenButton Text="បន្ដែមថ្មី" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Click="onBtnNewRole" class="mt-1" />
        <RadzenButton Text="កំណត់ឡើងវិញ" Icon="refresh" ButtonStyle="ButtonStyle.Info" Click="onBtnRefresh" class="mt-1" />
    </div>

    <div class="table-responsive">
        <table class="table titleBtn table table-hover">
        <thead>
            <tr>
                <th>កូដ</th>
                <th>សិទ្ធិ</th>
                <th>ការកំណត់</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (rolepermissions != null)
            {
                foreach (var item in rolepermissions)
                {
                    <tr>
                        @*<td>@item.RolePerId</td>*@
                        <td>@(rolepermissions.IndexOf(item) + 1)</td>
                        <td>@item.RoleName</td>
                        <td>@item.Name</td>

                        <td>
                            <a href="/edituserRole/@item.RolePerId" class="btn btn-warning btn-sm mr-2"><i class="fas fa-edit" /></a>
                            <button class="btn btn-danger btn-sm" @onclick="(value)=>OnDeleteRole(item.RolePerId)"><i class="fa fa-trash" /></button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <span>Loading</span>
            }

        </tbody>

    </table>
    </div>

</RadzenCard>