﻿@page "/login"

@layout LoginLayout
@using SCC_System.Controllers.Authentication
@using SaleModal.DB.Model
@using Radzen
@inherits AuthenticationBase

<PageTitle>Authentication</PageTitle>
<div class="wrapper">
        <div class="logo">
            <img src="image/scc_logo.png" />
        </div>
        <div class="text-center mt-4 name">
            Star Care Center
        </div>
        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <RadzenTextBox  Placeholder="Username" Name="Username" @bind-value="user.Username" />
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <RadzenPassword Placeholder="Password" Name="Password" @bind-Value="user.Password" Change="OnAuthAccess"/>
            </div>
              <RadzenButton Text="LOGIN" Click="OnAuthAccess" class="btn mt-3 "/>
        </form>

    </div>
